/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}*/

.field-validation-error {
    display:block;
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.validation-summary-errors ul
{
    list-style:none;
    color: #b94a48;
    margin-left: -40px;
}

h1
{
    text-align:center;
}

#Login, #Password
{

    width: 300px;
}

#success
{
    color: green;
    margin-bottom: 10px;
}

#message-form:after
{
    margin-bottom: 50px;
}

.message
{
    padding: 10px 10px;
    margin-bottom: 10px;
}

.my-message
{
    background: #DFF0D8;
}

.other-message
{
    background: #D9EDF7;
}
