@if (Session["user_id"] != null)
{
    ViewBag.Title = "Общий чат";
    

    @model ICollection<DataModel.Message>

    <script type="text/javascript">
     
        function show() {
            $.ajax({
                url: "/Chat/Message",
                cache: false,
                success: function (html) {
                    $("#messages").html(html);
                }
            });
        }

        function Success()
        {
            $("#message").val("");
        }

        $(document).ready(function () {
            show();
            setInterval('show()', 1000);
        });

    </script>


    <h1>Чат - [@Session["login"]]</h1>

    <div class="container">
        <div class="row" id="message-form">
            @using (Ajax.BeginForm("Chat", new AjaxOptions()
            {
                HttpMethod = "POST",
                OnSuccess = "Success"
                
            }))
            {
                <div class="col-md-1">
                    <label style="margin-top:5px">Сообщение</label>
                </div>
                <div class="col-md-9">
                    <input type="text" id="message" name="message" class="form-control" placeholder="Текст сообщения" />
                </div>
                <div class="col-md-1">
                    <input type="submit" id="send" class="btn btn-success" value="Отправить" />
                </div>
            }
            <div class="col-md-1">
                @Html.ActionLink("Выйти", "LogOff", null, new { @class = "btn btn-danger" })
            </div>
        </div>

        <div id="messages">
           
        </div>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    </div>
}
else
{
    Response.Redirect("/Chat/StartPage");
}


