@{
    ViewBag.Title = "МЕГАЧАТ3000";
}

<h1>Чат - главная страница</h1>
<div class="container">
    <div class="row text-center">
        <a href="/Chat/LogIn" class="btn btn-primary">Вход</a>
        <a href="/Chat/Register" class="btn btn-default">Регистрация</a>
    </div>
</div>

